
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Blog Giriş</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/Giris/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/Content/Giris/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="logo">
                <span class="icon fa-diamond"></span>
            </div>
            <div class="content">
                <div class="inner">
                    <h1>BERAT ÖZMEN</h1>
                    <p>
                        Bu blog çalışması CV'im ve Referansım olması amacıyla yapılmıştır.
                        Profesyonel bir blog amacı yoktur ..
                    </p>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index","Home")"> ANA SAYFA</a></li>
                    <li><a href="@Url.Action("Index","CV")">HAKKIMDA (CV)</a></li>
                </ul>
            </nav>
        </header>
        <!-- Footer -->
        <footer id="footer">
            <a href="https://github.com/beratzmen" target="_blank"><i class="fab fa-github fa-2x"> </i></a> &nbsp;
            <a href="https://www.linkedin.com/in/beratzmen/" target="_blank"> <i class="fab fa-linkedin fa-2x"> </i></a> &nbsp;
            <a href="https://www.facebook.com/Exelnc" target="_blank">  <i class="fab fa-facebook-square fa-2x"> </i></a> &nbsp;
        </footer>
    </div>
    <!-- BG -->
    <div id="bg"></div>
    <!-- Scripts -->
    <script src="~/Content/Giris/assets/js/jquery.min.js"></script>
    <script src="~/Content/Giris/assets/js/skel.min.js"></script>
    <script src="~/Content/Giris/assets/js/util.js"></script>
    <script src="~/Content/Giris/assets/js/main.js"></script>
</body>
</html>
