<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Method.Attribute" version="2.0.1" targetFramework="net461" />
  <package id="System.Web.Mvc.Extensions" version="1.1.1.2" targetFramework="net461" />
  <package id="TinyMCE" version="3.4.7" targetFramework="net461" />
  <package id="TinyMCE.MVC" version="3.4.7" targetFramework="net461" />
  <package id="TinyMCE.MVC.Sample" version="3.4.5" targetFramework="net461" />
</packages>